body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: monospace;
}

#content > * {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: white;
}

h1 {
  border-bottom: 2px solid black;
  margin: 0;
  text-align: center;
}

#content {
  display: flex;
  flex: 1 1 auto;
}

form {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  padding: 5px;
  text-wrap: nowrap;
  font-size: 1.2em;
}

#chartBox {
  border-bottom: 2px solid black;
  flex-grow: 1;
  overflow: hidden;
}

#myChart {
  width: 100%;
  height: 100%;
}

.form-group input {
  width: 10ch;
}

.form-group {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 0.5rem;
}

label {
  font-weight: bold;
}

.buttons {
    justify-content: center;
}

#logsPagination button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  cursor: pointer;
  margin: 0.1rem 0.1rem;
}

#logsPagination button:hover {
  background-color: #ddd;
}

@media (min-width: 320px) and (max-width: 767px){
  #content {
    flex-direction: column;
  }
  .form-group{
    justify-content: center;
  }
  label {
    min-width: 220px;
    text-align: center;
  }
}
